*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body {
    min-width: 100%;
    overflow: auto;
}
.box {
    min-width: 1024px;
    display: flex;
    justify-content: center;
    padding: 0 max(5px, min(10px, calc((100vw - 1024px) / 2)));
}
.img-big {
    width: 100%;
    min-width: 1024px;
    height: auto;
    display: block;
}
